.not-found {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://cdn2.vectorstock.com/i/1000x1000/36/96/404-error-blue-not-found-page-vector-18273696.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -95px;
}